.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: rgb(48, 69, 90);
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

.link:global(.active) {
  color: rgb(84, 131, 122, 0.8);
  font-weight: bold;
}